
body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 30px;
}

/*FONDOS DE BODY*/


#altas{
  background: url("../img/fondo/fondo_01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#index{
    background: url("../img/fondo/fondo_03.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#eliminar{
    background: url("../img/fondo/fondo_09.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#msj_eliminar{
    background: url("../img/fondo/fondo_11.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#editar{
    background: url("../img/fondo/fondo_04.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#status{
  background: url("../img/fondo/fondo_10.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#perfil{
  background: url("../img/fondo/fondo_05.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#politica{
    background: url("../img/fondo/fondo_06.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 30px;
}

section, div{
  padding: 15px;
}

.contenedor{
  border: solid 1px black;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
}


.contenedor .division_vertical{
  width: 100%;
  text-align: left;
  background-color: rgba(1,2,1,0.5);
  box-shadow: 2px 2px 10px #666;
}

#msj_eliminar{
  text-align: center;
}

.form_texto, .form_pwd, .form_date{
    width: 80%;
    text-align: center;
    font-size: 15px;
}


/*CONTENEDORES INTERNOS*/
  .contenedor .div_menu{
      align-items: center;
      align-content: center;
      text-align: center;
      width: 45%;
      min-width: 475px;
  }

/*LISTA MENU PRINCIPAL*/
  .contenedor .div_menu .nav {
      text-align: center;
      width:500px;
      margin:0 auto;
  }
/*ELEMENTO DE LISTA MENU PRINCIPAL*/
  .contenedor .div_menu .nav > li {
      float:left;
      background-color: #4E4E4E;
  }
/*LINKS DE LOS ELEMENTOS DE LISTA MENU PRINCIPAL*/
  .contenedor .div_menu .nav li a {
      margin: 5px;
    /*  border-radius: 12px;*/
      background-color:#2A8CA6;
      color:#fff;
      text-decoration:none;
      padding:10px 12px;
      display:block;
  }

  .contenedor .div_menu .nav li a:hover {
      background-color:#009999;
  }

  ul, ol {
      list-style:none;
  }



#detalle_user{
  text-align:left;
}


.contenedor .div_button{
    text-align: center;
}



.div_form_error {
  color: red;
  margin-bottom:0;
  height: 15px;
}

.div_form_repetido{
  color: blue;
  margin-bottom:0;
  height: 15px;

}


.div_pie{
  text-align: left;
}

.contenedor .div_button{
    text-align: center;
}


.eliminar_op{
  font-size: 14px;
  text-align: left;
}

.div_cancelar{
/*  border: solid 1px white;*/
  text-align: center;
}
#cancelar_botones{
  color: white;

}

/*******************************/
/*******************************/

/*******************************/
/* BUTON ACCESO A LOGIN */
/*******************************/

#button{
    border: none;
    background: rgba(0,0,0,0);
    width: 50%;
    font-size: 25px;
    color:white;


}
#button:hover{
    border: none;
    background-color: #B3C5C5;
}

/*******************************/
/*******************************/

.division_vertical#div_login{
    box-shadow: 2px 2px 10px #666;
    background: rgba(0,0,0,0);
    color:white;
}



/**********************************/
/************************************/
/*PERFIL*/
.foto_perfil{
  width: 350px;
  height: 350px;
/*  border: 2px solid white;*/
  margin: 15px;
/*  box-shadow: 2px 2px 5px #999;*/

}



footer{
  text-align: right;
  margin-right: 50px;
}

/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}


/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
